{% include pagehead.html %}
{% include header.html %}

<article class="bookIndex">

  <div class="row">
    <div class="twelve columns">

<h1>{{ page.title }}</h1>

<p>英文标题：JavaScript Standards Reference Guide</p>

<p>作者：　　<a href="http://www.ruanyifeng.com">阮一峰</a></p>

<p>授权方式：<a href="/introduction/license.html">创意共享“署名-非商业性使用”许可证</a></p>

<aside class="annoucement">

  <p>重要说明：本教程已经搬迁，此处不再维护，请访问新网址：<a href="https://wangdoc.com/javascript/">wangdoc.com/javascript</a>。</p>

</aside>

{% include toc.html %}
{{ content }}
    </div>
  </div>
</article>

{% include footer.html %}

</body>
</html>
