{% include pagehead.html %}
{% include header.html %}

<article class="bookPage">

  <div class="row">
    <div class="twelve columns">

<h1> {{ page.title }} </h1>

<aside class="right"><p>来自<a href="/">《{{ site.sitename }}》</a>，by 阮一峰</p></aside>

{% include toc.html %}

{{ content }}

</article>

<div class="row">
    <div class="twelve columns">

<sectioni id="feature">

<h2>功能链接</h2>

<ul>

<li><a href="https://raw.github.com/ruanyf/jstutorial/gh-pages{{ page.url | split:"." | first }}.md">Markdown源码</a></li>
<li><a href="https://github.com/ruanyf/jstutorial/commits/gh-pages{{ page.url | split:"." | first }}.md">修订历史</a></li>

</ul>

</section>

</div>
</div>

{% include footer.html %}

